body {
	background: url(../images/background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

small {
	color: white !important;
}

#answers {
	padding: 0;
}

input{
	float:left;
}

.hidden {
	display: none;
}